body{
  margin:0;
  font: 10pt "verdana" sans-serif;
}

#contaner{
  margin: 20px auto auto;
  width: 950px;
	border: solid 1px;
}

.shadow {
  -moz-box-shadow:    3px 3px 2px 3px #ccc;
  -webkit-box-shadow: 3px 3px 2px 3px #ccc;
  box-shadow:         3px 3px 2px 3px #ccc;
}

#contaner1{
  margin: 40px 40px 40px 70px;
	border: solid 1px;
}  

#header{
 height: 300px;
}

#sidebar{
  float: left;
  width: 150px;
  padding: 10px;
  height: 100%;
}

#stuff{
}

#main{
  padding:10px;
  float: left;
}

.clear{
  clear:both;
}

.comic img{
  max-width: 200px;
  float: left;
}

.pic{ float:left }

.info{ 
  float:left;
  margin-left:15px;
}

.comic{
  padding: 10px;
}

#editor img{
  max-width: 200px;
}

#reader img{
  max-width: 100%;
}