body{
  margin:0;
  font: 10pt "verdana" sans-serif;
}

#contaner{
  min-width: 400px;
}

#header{
  background:#E78D76;
  padding:20px;
  font-size: 20pt;
  padding: 10px;
}

#sidebar{
  background:#E79883;
  float: left;
  width: 150px;
  padding: 10px;
  height: 100%;
}

#stuff{
  padding:10px;
  float: left;
}

.clear{
  clear:both;
}

.comic img{
  max-width: 200px;
  float: left;
}

.pic{ float:left }

.info{ 
  float:left;
  margin-left:15px;
}

.comic{
  padding: 10px;
}